sros2==0.10.6
rqt-reconfigure==1.1.2
ros2run==0.18.12
teleop-twist-keyboard==2.4.0
rqt-console==2.0.3
ros2bag==0.15.14
launch-param-builder==0.1.1
rqt-srv==1.0.3
ament-flake8==0.12.12
rosidl-cli==3.1.6
rqt-msg==1.2.0
rosidl-runtime-py==0.9.3
generate-parameter-library-py==0.4.0
ros2node==0.18.12
osrf-pycommon==2.1.6
action-tutorials-py==0.20.5
ament-lint==0.12.12
tf2-tools==0.25.12
moveit-configs-utils==2.5.9
tf2-ros-py==0.25.12
ros2launch==0.19.9
launch-pytest==1.0.9
rqt-action==2.0.1
ament-pep257==0.12.12
examples-rclpy-minimal-publisher==0.15.3
tf-transformations==1.1.0
ros2component==0.18.12
topic-monitor==0.20.5
domain-coordinator==0.10.0
launch-ros==0.19.9
rqt-gui-py==1.1.7
ros2pkg==0.18.12
ros2interface==0.18.12
rqt-service-caller==1.0.5
ros2multicast==0.18.12
joint-state-publisher-gui==2.4.0
demo-nodes-py==0.20.5
ament-cppcheck==0.12.12
ament-package==0.14.0
rqt-shell==1.0.2
ros2topic==0.18.12
urdfdom-py==1.2.1
rqt-topic==1.5.0
rqt-py-console==1.0.2
examples-rclpy-minimal-subscriber==0.15.3
ament-copyright==0.12.12
quality-of-service-demo-py==0.20.5
sensor-msgs-py==4.8.0
ros2cli==0.18.12
launch-testing-ros==0.19.9
ament-xmllint==0.12.12
examples-rclpy-minimal-action-server==0.15.3
joint-state-publisher==2.4.0
ros2controlcli==2.51.0
ros2param==0.18.12
rqt-plot==1.1.5
examples-rclpy-minimal-service==0.15.3
examples-rclpy-minimal-client==0.15.3
rqt-bag-plugins==1.1.5
ros2doctor==0.18.12
launch-testing==1.0.8
examples-rclpy-executors==0.15.3
ament-index-python==1.4.0
ros2lifecycle==0.18.12
ros2action==0.18.12
rqt-graph==1.3.1
launch-xml==1.0.8
rqt-bag==1.1.5
rqt-publisher==1.5.0
ros2service==0.18.12
examples-rclpy-minimal-action-client==0.15.3
launch-yaml==1.0.8
rqt-gui==1.1.7
launch==1.0.8
ament-uncrustify==0.12.12
rpyutils==0.2.1
ament-cpplint==0.12.12
ament-lint-cmake==0.12.12
rqt-py-common==1.1.7
pcl-msgs==1.0.0
unique-identifier-msgs==2.2.1
python-qt-binding==1.1.2
laser-geometry==2.4.0
rmw-dds-common==1.6.0
qt-dotgraph==2.2.4
rosidl-generator-c==3.1.6
controller-manager-msgs==2.51.0
rosidl-typesupport-introspection-c==3.1.6
resource-retriever==3.1.3
gps-msgs==2.1.0
tf2-geometry-msgs==0.25.12
rcl-interfaces==1.2.1
example-interfaces==0.9.3
rosidl-typesupport-fastrtps-c==2.2.2
actuator-msgs==0.0.1
diagnostic-updater==4.0.6
rosidl-typesupport-fastrtps-cpp==2.2.2
diagnostic-msgs==4.8.0
map-msgs==2.1.0
cv-bridge==3.2.1
logging-demo==0.20.5
xacro==2.0.13
rosbag2-interfaces==0.15.14
qt-gui==2.2.4
ament-cmake-test==1.3.11
octomap-msgs==2.0.1
composition-interfaces==1.2.1
actionlib-msgs==4.8.0
pendulum-msgs==0.20.5
rosbag2-py==0.15.14
rosidl-generator-cpp==3.1.6
interactive-markers==2.3.2
srdfdom==2.0.7
qt-gui-py-common==2.2.4
shape-msgs==4.8.0
controller-manager==2.51.0
turtlesim==1.4.2
ros-gz-interfaces==0.244.20
builtin-interfaces==1.2.1
std-srvs==4.8.0
stereo-msgs==4.8.0
action-msgs==1.2.1
statistics-msgs==1.2.1
tf2-msgs==0.25.12
sensor-msgs==4.8.0
nav-msgs==4.8.0
std-msgs==4.8.0
action-tutorials-interfaces==0.20.5
rosgraph-msgs==1.2.1
image-geometry==3.2.1
rclpy==3.3.16
qt-gui-cpp==2.2.4
rosidl-generator-py==0.14.4
vision-msgs==4.1.1
trajectory-msgs==4.8.0
tf2-kdl==0.25.12
rosidl-typesupport-c==2.0.2
realsense2-camera-msgs==4.55.1
lifecycle-msgs==1.2.1
visualization-msgs==4.8.0
angles==1.15.0
rosidl-adapter==3.1.6
object-recognition-msgs==2.0.0
tf2-py==0.25.12
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-introspection-cpp==3.1.6
control-msgs==4.8.0
ackermann-msgs==2.0.2
rosidl-parser==3.1.6
geometry-msgs==4.8.0
rcutils==5.1.6
moveit-msgs==2.2.1
message-filters==4.3.7
rosidl-cmake==3.1.6
wcwidth==0.2.13
sentry-sdk==2.31.0
nvidia-cusolver-cu12==11.7.5.82
nvidia-nvjitlink-cu12==12.9.86
etils==1.12.2
typeguard==4.4.4
nvidia-nccl-cu12==2.27.5
cycler==0.12.1
nest-asyncio==1.6.0
trimesh==4.6.12
nvidia-cublas-cu12==12.9.1.4
simplejson==3.20.1
PyYAML==6.0.2
certifi==2025.6.15
treescope==0.1.9
PyOpenGL==3.1.9
MarkupSafe==3.0.2
mdurl==0.1.2
jax-cuda12-plugin==0.6.2
nvidia-cusparse-cu12==12.5.10.65
absl-py==2.3.0
jaxlib==0.6.2
prompt_toolkit==3.0.51
flask-cors==6.0.1
ptyprocess==0.7.0
pip==22.0.2
jaxopt==0.8.5
chex==0.1.89
toolz==1.0.0
gitdb==4.0.12
nvidia-cuda-cupti-cu12==12.9.79
playground==0.0.5
charset-normalizer==3.4.2
optax==0.2.5
tensorstore==0.1.75
mujoco-mjx==3.3.3
parso==0.8.4
glfw==2.9.0
setuptools==59.6.0
ipython==8.37.0
opt_einsum==3.4.0
jax-cuda12-pjrt==0.6.2
packaging==25.0
psutil==7.0.0
Jinja2==3.1.6
wandb==0.20.1
contourpy==1.3.2
itsdangerous==2.2.0
kiwisolver==1.4.8
protobuf==6.31.1
six==1.17.0
blinker==1.9.0
annotated-types==0.7.0
orbax-checkpoint==0.11.16
python-dateutil==2.9.0.post0
tensorboardX==2.6.4
smmap==5.0.2
mediapy==1.2.4
Werkzeug==3.1.3
msgpack==1.1.1
importlib_resources==6.5.2
matplotlib-inline==0.1.7
nvidia-cuda-runtime-cu12==12.9.79
fonttools==4.58.4
pure_eval==0.2.3
brax==0.12.4
GitPython==3.1.44
lxml==6.0.0
nvidia-cufft-cu12==11.4.1.4
pydantic==2.11.7
pyparsing==3.2.3
click==8.2.1
scipy==1.15.3
jedi==0.19.2
zipp==3.23.0
nvidia-cudnn-cu12==9.10.2.21
pexpect==4.9.0
Pygments==2.19.2
fsspec==2025.5.1
typing-inspection==0.4.1
nvidia-nvshmem-cu12==3.3.9
ml_collections==1.1.0
urllib3==2.5.0
tqdm==4.67.1
idna==3.10
executing==2.2.0
traitlets==5.14.3
ml_dtypes==0.5.1
nvidia-cuda-nvrtc-cu12==12.9.86
matplotlib==3.10.3
stack-data==0.6.3
Flask==3.1.1
mujoco==3.3.3
numpy==2.2.6
platformdirs==4.3.8
rich==14.0.0
pydantic_core==2.33.2
pillow==11.2.1
markdown-it-py==3.0.0
setproctitle==1.3.6
exceptiongroup==1.3.0
flax==0.10.6
typing_extensions==4.14.0
decorator==5.2.1
jax==0.6.2
requests==2.32.4
asttokens==3.0.0
nvidia-cuda-nvcc-cu12==12.9.86
humanize==4.12.3
